.principal {
 background-image: url("img/background.png");
 background-repeat: no-repeat;
 background-size: contain;

}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.container_botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
}




:root{
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0; 
  --botao-azul: #109af7;
  --cor-de-fundo: #00030c;
}
body{
    background-color: #00030c;
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;

}