:root{
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0; 
  --botao-azul: #109af7;
  --cor-de-fundo: #00030c;
}
body{
    background-color: #00030c;
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;

}
.principal {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
 align-items: center;
 }

 .container {
   height: 100vh;
   display: grid;
   grid-template-columns: 33% 33% 33%;
 }
 
 .container_botao {
   background-color: var(--botao-azul);
   border-radius: 5px;
   padding: 1em;
   color: var(--branco-principal);
   display: block;
   text-decoration: none;
   margin-bottom: 1em;
 }
 .botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal)
 }
 .container_aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
 }
 .container_titulo {
  font-size: 28px;
  font-weight: 700;
 }
 .container_imagem {
  margin: 1em 0 2em 0;
 }
 .container_caixa {
  margin: 0 6em;
 }